{% load static %}

<div style="margin-left:50px;" class="row">
   <div  class="col-md-1"></div>
<!--   Card 1 -->
    <div style="margin-bottom:20px;" class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src='{% static "ads/ads.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ad Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
    </div>

<!--   Card 2-->
   <div style="margin-bottom:20px;"  class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src='{% static "ads/ads.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ad Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
    </div>

   <!--   Card 3-->
   <div style="margin-bottom:20px;"  class="col-md-3">
      <div class="card" style="width: 18rem;">
        <img src='{% static "ads/ads.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ad Name</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Apply</a>
        </div>
      </div>
    </div>
 </div>
 <br>
