{% load static %}
  {% include 'css/card.css' %}


<!--Displaying vehicles start-->
<div class="container">

    <!--Slideshow starts here -->
    {% for product, range, nSlides in allProds %}

    <div class="row">
        <div id="demod{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">

            </ul>
            <div class="container carousel-inner no-padding">
                <div class="carousel-item active" >
                    {% for i in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3" >
                        <!--   Card 1 -->
                            <div class="mydiv" style="margin-bottom:20px;border:1px solid;">
                              <div class="card"  >
                                <img src='/media/{{i.Ad_image}}' class="card-img-top" alt="...">
                                <div class="card-body">

                                        <h4   class="card-title">{{i.Ad_name}}</h4>

                                        <p  class="card-title">Publish Date: {{i.pub_date}}</p>
                                        <p  class="card-text">{{i.description}}</p>

                                  <a href="apply" class="btn btn-primary">Apply Now</a>
                                </div>
                              </div>
                            </div>
                    </div>
                    {% if forloop.counter|divisibleby:100 and forloop.counter > 0 and not forloop.last %}
                </div>

                <div class="carousel-item">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    {% endfor %}
</div>